.note-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}
.note-container > .card {
  width: 18rem;
  background-color: var(--background-color);
  border: var(--border-color) solid 1px;
  border-top: var(--border-color) solid 5px;
  margin: 10px;
}
.note-container > .card > .card-body > .card-title > .card-notes-title {
  color: var(--font-color);
  font-size: 20px;
  font-weight: 600;
}
