.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  border-bottom: var(--border-color) solid 2px;
}
.header-title {
  font-size: 30px;
  font-weight: 600;
  color: var(--font-color);
  margin: 10px 25px;
}
.header-title:hover {
  font-size: 30px;
  font-weight: 600;
  color: var(--font-color);
  margin: 10px 25px;
}
.header-arsip {
  font-size: 30px;
  font-weight: 600;
  color: var(--font-color);
  margin: 10px 25px;
}
.header-arsip:hover {
  font-size: 30px;
  font-weight: 600;
  color: var(--font-color);
  margin: 10px 25px;
}
