.add-note-button-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
}
.add-note-button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.add-note-button > .add-new-note-button {
  font-size: 30px;
  margin: auto;
  background-color: transparent;
  color: var(--button-font-color);
}
.btn-archive-note {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border: none !important;
  border-radius: 50% !important;
  background-color: var(--button-background-color) !important;
  color: var(--button-font-color);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.bi.bi-box-arrow-in-down {
  font-size: 30px;
  margin: auto;
  color: var(--button-font-color);
}
.btn-unarchive-note {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border: none !important;
  border-radius: 50% !important;
  background-color: var(--button-background-color) !important;
  color: var(--button-font-color);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.bi.bi-box-arrow-in-up {
  font-size: 30px;
  margin: auto;
  color: var(--button-font-color);
}
.btn-delete-note {
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border: none !important;
  border-radius: 50% !important;
  background-color: var(--button-background-color) !important;
  color: var(--button-font-color);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.bi.bi-trash {
  font-size: 30px;
  margin: auto;
  color: var(--button-font-color);
}

.btn-save-note {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border: none !important;
  border-radius: 50% !important;
  background-color: var(--button-background-color) !important;
  color: var(--button-font-color);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-save-note > .bi-check-lg {
  font-size: 30px;
  margin: auto;
  color: var(--button-font-color);
}
.change-language-button,
.logout-button,
.btn-theme-toggler {
  margin: 10px 25px;
  font-size: 20px;
  font-weight: 600;
  color: var(--button-color);
  background-color: transparent;
  border: none;
}
.bi.bi-translate,
.bi.bi-box-arrow-right,
.bi.bi-brightness-low {
  font-size: 30px;
  color: var(--button-color);
}
.bi.bi-box-arrow-right {
  margin-right: 10px;
}
